    /* --------------------   FONTS  --------------*/
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Lora', serif;*/
    /*font-family: 'Work Sans', sans-serif;*/
body{
    font-size: 13px;
    padding: 20px 35px;
}
h1,h2{
    font-family: 'Playfair Display', serif;
}
h3, a{
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}
p{
    font-family: 'Work Sans', sans-serif;
}
.max-cont{
    margin: auto;
}
/*     -----  MENU -----     */
.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo-cont{
    width: 96%;
    position: absolute;
    z-index: -1;
}
.logo{
    display: block;
    margin: auto; 
}
.material-symbols-outlined{
    transform: scaleX(-1);
}
.menu-nav-left{
    width: 28%;
}
.menu-nav-right{
    width: 6%;
}
nav a{
    color: #333333;
}


/*     -----  SLIDE -----     */

.slide{
    margin-top: 40px;
    background-size: 1450px ;
    background-position: center;
    background-repeat:no-repeat;
    height: 545px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.slide h1{
    font-size: 3.7em;
    font-weight: 400;
}
.slide a{
    color: #333333;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: -25px;
}

/*     -----  DOUBLE BANNER -----     */
.banner-cont{
    justify-content: center;
}
.banner{
    width: 420px;
    height: 180px;
    background-size: 400px;
    margin: 50px 15px;
    background-size: cover;
    background-repeat: no-repeat;

}

.banner h2{
    color: #529F0F;
    font-size: 2.5em;
    font-family: 'Lora', serif;
    font-weight: 300;
    margin: 60px 0px -15px 25px;
}

.banner p{
font-weight: 500;
margin-left: 25px;
}

/*     ----- LATEST PRODUCTS  -----     */

.products{
    margin: auto;
    background-image: url("/img/bg-1.jpg");
    padding: 50px 250px;
    text-align: center;
}
.products h1{
    font-size: 2.4em;
    font-weight: 400;
}
.products h2{
    width: 65%;
    font-size: 1.2em;
    font-weight: 400;
    margin: -15px auto 15px auto;
}
.products p{
    font-size: 1.15em;
    color: #575757;
    font-weight: 500;
    line-height: 1;

}
.pn{
    font-size: 0.9em;
    font-weight: 600;
    color: #333333;
}
.pv{
    font-weight: 600;
    font-size: 0.8em;
    color: #575757;
    text-decoration: line-through;
    margin: auto;
}

.grid-products{
    text-align: start;
    width: 100%;
    height: 320px;
    display: grid;
    grid-template: 1fr 1fr/repeat(4, 1fr);
    justify-content: center;
    gap: 15px;
    margin-top: 60px;

}
.grid-products a img{
    width: 200px;
    border: 1px solid rgb(0, 0, 0, 0.03);
}

/*     ----- TESTIMONIO  -----     */

.test{
    text-align: center;
    flex-direction: column;
    margin: 100px 20px;
}
.test h1{
    font-weight: 200;
    width: 65%;
}
.test p{
    font-weight: 600;
}
.last-p-test{
    color:#57575780;
    font-size: 0.8em;
}

/*     ----- NEW PRODUCTS  -----     */

.new{
    height: 800px;
    margin-bottom: -35px;
    background-image: none;
    background-color: #f8f8f8;
}

/*     ----- FORM  -----     */
.form{
    height: 250px;
    text-align: center;
    background-size: 1800px ;
    background-repeat: no-repeat;
    background-position-y: -200px;
    padding:70px;
}
.form h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 35px;
}
#email{
    padding: 25px 200px 25px 15px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    background-color: transparent;
}
#email-buton{
    padding: 23px 35px;
    background-color: black;
    color: white;
}

/*     ----- LATEST NEWS  -----     */

.news-sect{
    text-align: center;
    padding: 45px 3%;
    height: 750px;
}
.news-sect h1{
    font-weight: 200;
    font-size: 3em;
    border-bottom: 1px solid #575757 ;
    width: 210px;
    margin: 60px auto 70px auto;
}
.news-sect h3{
    font-family: 'Playfair Display', serif;
    font-size: 1.3em;
    font-weight: 200;
    margin-top: -15px;
}
.news-text{
    font-family: 'Lora', serif;
    word-spacing: 7px;
    margin: 25px auto;
}
.news-sect a{
    color: #575757;
    font-weight: 600;
}
.date{
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 700;
    color: #529F0F;
    word-spacing: 1px;
}
.news{
    justify-content: center;
    text-align: start;
}

.not{

    width: 25%;
    margin: 0px 7px;
    overflow: hidden;
    

}
.not img{
    width: 250px;
    
}

/*     ----- BRANDS  -----     */
.brands{
    padding: 70px 100px;
    justify-content: center;
}
.brands img{
    margin: auto auto;
}

/*     -----  FOOTER  -----     */

.footer{
    padding: 20px 100px 50px 130px;
    background-color: #f8f8f8;
    margin: auto;
    display: grid;
    grid-template: 1fr / repeat(4,1fr);
}
.cont-footer{
    display: flex;
    flex-direction: column;
}
.footer h5{
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
}
.footer a{
    font-size: 0.9em;
    font-weight: 500;
    color: #575757;
    line-height: 2.5;
    font-family: 'Lora', serif;
}

/*     -----  SIGN  -----     */

.sign{
    padding: 20px 60px;
}

/*     -----  CIRCULO DE DESCUENTO  -----     */

.circ-desc{
    font-size: 0.9em;
    font-weight: 800;
    color: white;
    background-color: #529F0F;
    width: 39px;
    height: 39px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Lora', serif;
}

@media only screen and (max-width: 640px){

body{
    padding: 0px 5px;
}

/*  ---  MENU  ---  */

.menu-flex{
    padding: 0px 5%;
    align-items: center;
    margin-top: 25px;
}
.logo-cont{
    width: 30%;
    position: relative;
    z-index: 1;
    margin: 0px;

}
.logo{
margin: 0px;
width: 220px;
}

.menu-nav-left{
    display: none;

}
.menu-nav-right{
    width: 25%;
    font-size: 1.7em;
}
.material-symbols-outlined{
    width: 100px;
}

/*  ---  SLIDE  ---  */

.slide{
    height: 700px;
    background-size: 1800px;  
     
}
.slide h1{
    font-size: 4em;
    font-weight: 400;
    margin-top: -20px; 
}
.slide a{
    color: #333333;
    font-size: 2.7em;
    font-weight: 600;
    margin-top: 0px;
}

/*  ---  DOUBLE BANNER  ---  */

.banner-cont{
    flex-direction: column;
}
.banner{
    width: 95%;
    height: 250px;
    margin: 20px 15px;
}

.banner h2{
    font-size: 4em;
}
.banner p{
font-weight: 400;
font-size: 2em;
}

/*  ---  LATEST AND NEW PRODUCTS  ---  */

.products{
    padding: 20px 20px;
    text-align: center;
}
.products h1{
    font-size: 2.7em;
    font-weight: 300;
}
.products h2{
    width: 95%;
    font-size: 2em;
    font-weight: 200;
    margin: 0px auto 15px auto;
}
.products p{
    font-size: 2.3em;
    font-weight: 500;
    line-height: 0.5;
}
.pn{
    font-size: 0.8em;
    font-weight: 600;
}
.pv{
    font-weight: 600;
    font-size: 0.7em;
}

/*  ---  PRODUCTS GRID  ---  */
.grid-products{

    text-align: start;
    width: 100%;
    height: 600px;
    grid-template: 1fr/repeat(1, 1fr);
    overflow: hidden;
    margin-top: 60px;
    justify-items: center;
}
.grid-products a img{
    width: 450px;
}






.brands{
    display: none;
}

.footer{
    display: none;
}
.form{
    display: none;
}
.sign{
    display: none;
}


}

